@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

div.headbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
    border:3px solid black;
    border-radius:6px;
    border-bottom: 2px solid black;
}

div.navdiv {
  background-color:grey;
  border:3px solid black;
  border-radius:6px;
  margin:auto;
  padding:4px;
}

h1 {
  text-align: center;
  
}

p {
  text-align: center;
}

body {
   font-family: 'Open Sans', sans-serif;
   background-image: url("../background design 2.png");
}
